body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

h1 {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:2rem;
}

h2 {
  font-size: 22px;
  width: 13rem;
}

p{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
  font-size: 20px;
  height: 4.5rem;
  gap:1rem;
}

.form-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  width: 300px;
}

.page-container {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.hoja h2,
.form-container h2 {
  margin: 0;
  padding: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

button {
  padding: 10px;
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 14px;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}